* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  padding: 20px;
}

div {
  padding: 10px;
  border: 1px solid #e75551;
}

.blue {
  width: 350px;
  background-color: #308dc0;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.yellow {
  background-color: #ffa500;
}

.text {
  background-color: #ddd;
}
