body {
  background-color: rgb(0, 0, 0);
  margin: 0;
}

div {
  padding: 10px;
  border: solid 1px #e75551;
}

.box-main {
  margin: 20px 20px 40px;
  box-sizing: border-box;
  width: 350px;
  background-color: rgb(48, 141, 192);
}

.box-middle {
  background-color: rgb(255, 165, 0);
}

.box-inside {
  background-color: rgb(221, 221, 221);
}
