body {
  background: #000;
  margin: 20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.box {
  width: 350px;
  background-color: #308dc0;
  padding: 10px;
  border: 1px solid #e95d49;
  margin-bottom: 40px;
}

section {
  background-color: #ffa500;
  padding: 10px;
  border: 1px solid #e95d49;
}

.text {
  background-color: #ddd;
  padding: 10px;
  border: 1px solid #e95d49;
  margin: 0;
}
