body {
  background-color: black;
  margin: 0;
}

div {
  border: 1px solid #e8564d;
}

.outside {
  width: 350px;
  box-sizing: border-box;
  margin: 20px 20px 40px;
  background-color: #308dc0;
}

.midle {
  margin: 10px;
  background-color: #ffa500;
  padding: 10px;
}

.inside {
  margin: 0;
  padding: 10px;
  background-color: #ddd;
}
