body {
  background-color: black;
  margin: 0;
}

.wrap-one,
.wrap-two,
.block {
  border: 1px solid #e75551;
  padding: 10px;
}

.wrap-one {
  background-color: #308dc0;
  box-sizing: border-box;
  margin: 20px 20px 40px;
  width: 350px;
}

.wrap-two {
  background-color: #ffa500;
  content: " ";
}

.block {
  background-color: #ddd;
}
