body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

.block {
  border: 1px solid #e95d49;
}

.inner_block {
  background-color: #ddd;
  padding: 10px;
  margin: 10px;
}

.middle_block {
  background-color: #ffa500;
  margin: 10px;
}

.outer_block {
  background-color: #308dc0;
  width: 348px;
  margin: 20px 20px 40px ;
}
