body {
  background-color: #000;
  padding: 0 12px;
}

.first,
.third,
.second {
  background-color: #ddd;
  margin: 0;
}

.borderPading {
  padding: 10px;
  border: 1px solid #e95d49;
}

.middleBox {
  box-sizing: border-box;
  background-color: #ffa500;
}

.biggestBox {
  box-sizing: border-box;
  background-color: #308dc0;
  width: 350px;
  margin: 20px 0;
  margin-bottom: 40px;
}
