body {
  margin: 0;
  padding: 20px;
  background-color: black;
}

/* div {
  display: block;
} */

p {
  margin: 10px;
}

.border {
  border: 1px solid #e75451;
}

.external-box {
  background-color: #2c8ec1;
  width: 328px;
  padding: 10px;
  margin-bottom: 40px;
}

.central-box {
  background-color: #ffa700;
  padding: 10px;
}

.internal-box {
  background-color: #dedede;
}
