body {
  margin: 0;
  background: black;
}

.innerBlock,
.outerBlock,
.text {
  border: 1px solid#e75551;
}

.outerBlock {
  width: 348px;
  background-color: #308dc0;
  margin: 20px 20px 40px;
}

.innerBlock {
  background-color: #ffa500;
  margin: 10px;
}

.text {
  background-color: #ddd;
  margin: 10px;
  padding: 10px;
}
