body {
  margin: 0;
  background-color: #000;
}

.block {
  border: 1px solid #cb5e62;
  padding: 10px;
}

.block-inner {
  background-color: #ddd;
}

.block-middle {
  background-color: #ffa500;
}

.block-upper {
  margin: 20px;
  width: 350px;
  background-color: #308dc0;
  box-sizing: border-box;
}

.middle {
  margin-top: 40px;
  margin-bottom: 40px;
}
