* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  margin: 0;
}

.block {
  border: 1px solid #e75551;
  padding: 10px;
}

.outer-block {
  width: 350px;
  background-color: #308dc0;
  margin: 20px 20px 40px;
}

.middle-block {
  background-color: #ffa500;
}

.inner-block {
  background-color: #ddd;
}
