body {
  background-color: #000;
  margin: 0;
  padding: 20px;
}

.box {
  box-sizing: border-box;
}

.red-border {
  padding: 10px;
  border: 1px solid #e0524e;
}

.outer {
  margin-bottom: 40px;
  width: 350px;
  background-color: #308dc0;
}

.center {
  background-color: #ffa500;
}

.inside {
  background-color: #ddd;
}
