body {
  background-color: black;
  margin: 0;
  padding: 20px;
}

div {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(231,85,81);
  padding: 10px;
}

.container {
  width: 350px;
  background-color: rgb(48,141,192);
  margin-bottom: 40px;
  box-sizing: border-box;
}

.txtCont {
  background-color: rgb(221,221,221);
}

.yellowishBlock {
  background-color: rgb(255,165,0);
}
