* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
}

p {
  margin: 0;
}

.box {
  padding: 10px;
  border: #e95d49 1px solid;
}

.grey-box {
  
  background-color: #ddd;
  padding: 10px;
  
}

.yellow-box {
  
  background-color: #ffa500;
  margin: 0 auto;
      
}

.blue-box {
  width: 350px;
  background-color: #308dc0;
  margin: 20px 20px 40px;
    
}
