body {
  background-color: black;
  margin: 0;
}

.box {
  box-sizing: border-box;
  border: 1px solid #e75551;
}

.blue_box {
  width: 350px;
  background-color: #308dc0;
  padding: 10px;
  margin: 20px 0 40px 20px;
}

.orange_box {
  background-color: #ffa500;
  padding: 10px;
}

.grey_box {
  background-color: #ddd;
  padding: 10px;
}

p {
  margin: 0;
}
