* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}

.outer-box {
  width: 350px;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #308dc0;
}

.outer-box:not(:last-child) {
  margin-bottom: 40px;
}

.inner-box {
  padding: 10px;
  background: #ffa500;
}

.text-box {
  display: block;
  padding: 10px;
  height: 100%;
  background: #ddd;
}

.border-box {
  border: 1px solid #e75551;
}
