body {
  background-color: black;
  margin: 0;
}

.block {
  border: 1px solid #e8594d;
  padding: 10px;
  box-sizing: border-box;
}

.blue {
  background-color: #308dc0;
  width: 350px;
  margin: 20px 20px 40px;
}

.yellow {
  background-color: #ffa500;
}

.text-wrap {
  background-color: #ddd;
}

.text {
  margin: 0;
}
