body {
  background-color: black;
  margin: 0;
}

.block {
  border: 1px solid rgb(231, 85, 81);
  padding: 10px;
}

.container {
  width: 350px;
  box-sizing: border-box;
  margin: 20px;
  margin-bottom: 40px;
}

.blue {
  background-color: rgb(48, 141, 192);
}

.orange {
  background-color: rgb(255,165,0);
}

.gray {
  background-color: rgb(221, 221, 221);
}
