body {
  background-color: black;
  margin: 20px;

  --small-border: 1px solid  #e95d49;
  --border-size: 10px;
}

.conteiner_border {
  box-sizing: border-box;
  width: 350px;
  background-color: #308dc0;
  border: var(--small-border);
  margin-bottom: 40px;
  padding: var(--border-size);
}

.inside_border {
  background-color: #ffa500;
  border: var(--small-border);
  padding: var(--border-size);
}

.text {
  background-color: #ddd;
  border: var(--small-border);
  padding: 10px;
}
