body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.block {
  box-sizing: border-box;
  border: 1px solid #e75551;
  padding: 10px;
}

.block-container {
  margin: 20px 20px 40px;
  width: 350px;
  background-color: #308dc0;
}

.block-inner {
  background-color: #ffa500;
}

.block-content {
  background-color: lightgray;
}
