body {
  background-color: #000;
  margin: 0;
}

.border-red {
  border: 1px solid #e75551;
  padding: 10px;
}

.external-block {
  width: 350px;
  box-sizing: border-box;
  background-color: #308dc0;
  margin: 20px 20px 40px;
}

.average-block {
  background-color: #ffa500;
}

.interior-block {
  background-color: #ddd;
  margin: 0;
}
