* {
  box-sizing: border-box;
}

body {
  background: rgb(0, 0, 0);
  padding: 0;
  margin: 0;
}

.rectangle,
.blue,
.yellow {
  padding: 10px;
}

.rectangle {
  border: 1px solid rgb(231, 85, 81);
}

.blue {
  width: 350px;
  background: rgb(48, 141, 192);
  margin: 20px 0 40px 20px;
}

.yellow {
  background: rgb(255, 165, 0);
}

.white {
  background: rgb(221, 221, 221);
}
