body {
  margin: 0;
}

body {
  background-color: black;
  padding-left: 20px;
  padding-top: 20px;
}

.border-red {
  border: 1px solid #e75551;
  padding: 10px;
}

.block {
  width: 350px;
  background-color: #308dc0;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.block-in {
  background-color: #ffa500;
}

.block-text {
  background-color: rgb(221, 221, 221);
}
