body {
  background-color: black;
  margin: 0;
}

.block {
  border: 1px solid rgb(232, 89, 77);
  padding: 10px;
}

.blue {
  width: 350px;
  background-color: rgb(48, 141, 192);
  margin: 20px;
  margin-bottom: 40px;
}

.yellow {
  background-color: rgb(255, 165, 0);
}

.text-block {
  background-color: rgb(221, 221, 221);
}

.text {
  margin: 0;
}
