body {
  background-color: #000;
  margin: 0;
}

.border {
  border: solid 1px #e6605c;
}

.inner_box {
  background-color: #ddd;
  padding: 10px;
}

.mid_box {
  background-color: #ffa500;
  padding: 10px;
}

.out_box {
  background-color: #308dc0;
  width: 328px;
  padding: 10px;
  margin: 20px 20px 40px;
}
