body {
  background-color: #000;
  margin: 0;
}

p {
  background-color: #ddd;
  margin: 0;
}

.red {
  border: 1px solid #e75551;
  padding: 10px;
}

.yellow {
  margin: 0;
  background-color: #ffa500;
}

.blue {
  width: 350px;
  box-sizing: border-box;
  margin: 20px 20px 40px;
  background-color: #308dc0;
}
