body {
  margin: 0;
}

html {
  background-color: black;
}

.container {
  width: 350px;
  box-sizing: border-box;
  margin: 20px;
  margin-bottom: 40px;
}

.box-item {
  padding: 10px;
  border: 1px solid #e75551;
}

.box-blue {
  background-color: #308dc0;
}

.box-yellow {
  background-color: #ffa500;
}

.box-content {
  background-color: #ddd;
}
