body {
  margin: 0;
  background-color: #000;
}

.out {
  width: 348px;
  margin: 20px;
  background-color: #308dc0;
  border: 1px solid #e75551;
  margin-bottom: 40px;
}

.inner {
  margin: 10px;
  background-color: orange;
  border: 1px solid #e75551;
}

.text {
  margin: 10px;
  padding: 10px;
  background-color: #ddd;
  border: 1px solid #e75551;
}
